<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://euricom-timesheets.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-am2-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>euricom-timesheets</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>True</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$euricom-timesheets</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Euricom.Timesheets.Web.Infrastructure.EFContext" Order="2" Enabled="False">
          <Destination Path="Data Source=cnustjdmel.database.windows.net;Initial Catalog=euricom-timesheets;Integrated Security=False;User ID=sliesenb@cnustjdmel;Password=Number10;Connect Timeout=30;Encrypt=True" Name="Data Source=cnustjdmel.database.windows.net;Initial Catalog=euricom-timesheets;User ID=sliesenb@cnustjdmel;Password=Number10;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Euricom.Timesheets.Web.Infrastructure.EFContext, Euricom.Timesheets.Web" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Euricom.Timesheets.Web.Infrastructure.EFContext" />
  </ItemGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Euricom.Timesheets.Web.Infrastructure.EFContext-Web.config Connection String">
      <ParameterValue>Data Source=cnustjdmel.database.windows.net;Initial Catalog=euricom-timesheets;User ID=sliesenb@cnustjdmel;Password=Number10;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>